<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <h1>TO DO APP</h1>
    <span>To do: </span>
    
    <input type="text" v-model="todo" >
    <button type="button" @click="add()">Add</button>
  
    <h3>To Do List</h3>
    <ol id="lista">
      <li v-for="(todo, element) in todos" v-on:dblclick="remove(element)" :key="element">{{todo}}</li>
    </ol>
    <p v-if="puste">Wpisz czynność do wykonania!</p>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        todo: '',
        todos: [],
        element: 0,
        puste: false
      },
      methods: {
        add: function() {    
          if (this.todo=="") {
            console.log("Nie wpisano czynności");
            this.puste=true;
          }
          else {
            this.todos.push(this.todo);
          }
        },

        remove: function(element) {
          this.todos.splice(element, 1);
          console.log("Usunięto element")
        }
        
        }
    });
  </script>
</body>
</html>